{% extends 'base.html' %}
{% load staticfiles %}

{% block page %}

    <div class="container">




        <form class="form-signin" method="post">
            {% csrf_token %}
            <h2 class="form-signin-heading">Please sign in</h2>
            <label for="username" class="sr-only">Username</label>
            <input type="text" id="username" class="form-control" name="username" placeholder="username" required="" autofocus="">
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Password" required="">
            <div><span STYLE="color: red">{{ error_msg }}</span></div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </form>

    </div> <!-- /container -->

    <!-- 当前站点CSS样式文件 -->
    <link href="{% static 'signin.css' %}" rel="stylesheet">

{% endblock %}