<!DOCTYPE html>
<html>
{% load staticfiles %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block site_title %}PyWordTest By J.Sky{% endblock site_title %}</title>
    <meta name="keywords" content="英语,单词">
    <meta name="description" content="小学生英语单词语句考试系统">

    <!-- bootstrap -->
    <link href="{% static 'bootstrap337/css/bootstrap.css' %}" rel="stylesheet">

    <!-- 当前站点CSS样式文件 -->
    <link href="{% static 'app.css' %}" rel="stylesheet">





</head>
<body>

<header>


<nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-9" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
          </button>
          <a class="navbar-brand" href="{% url 'index' %}">WordTest</a>
            <a class="navbar-brand" href="{% url 'score' %}">成绩分析</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-9">
          <ul class="nav navbar-nav navbar-right">
              <li class=""><a href="#">你好！{{ request.user.user_nick_name }}</a></li>
            <li class=""><a href="{% url 'logout' %}">Logout</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>


</header>



{% block page %}

{% endblock page %}




   <footer class="bs-docs-footer" >

    <p class="text-center">WordTest By J.sky</p>
</footer>


    <!-- jQuery -->
    <script src="/static/bootstrap337/js/jquery-3.3.1.slim.min.js"></script>
 <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <script src="/static/bootstrap337/js/bootstrap.js"></script>

</body>
</html>
